<div class="container">
  <h2>User Settings</h2>
  <form #frm="ngForm" (ngSubmit)="onSubmit(frm)"><!-- template variable reference -->
    <div class="form-group">
      <label for="name">Name</label>
      <input required #nameField="ngModel" id="name" name="name" class="form-control"
      [(ngModel)]="userSettings.name"
      [class.field-error]="frm.submitted && nameField.invalid"/>
      <!--Error Message-->
      <div class="alert alert-danger" [hidden]="!frm.submitted || nameField.valid">
        Enter a name
      </div>
    </div>

    <div class="form-group">
      <label for="email">E-mail</label>
      <input required id="email" name="email" #emailField="ngModel" class="form-control"
      [(ngModel)]="userSettings.email"
      [class.field-error]="frm.submitted && emailField.invalid"/>
      <!--Error Message-->
      <div class="alert alert-danger" [hidden]="!frm.submitted || emailField.valid">
        Enter a valid email
      </div>
    </div>

    <div class="form-group">
      <label for="subscriptionType">Subscription Type</label>
      <select id="subscriptionType" name="subscriptionType" class="form-control" #subTypeField="ngModel" required
      [(ngModel)]="userSettings.subscriptionType"
      [class.field-error]="frm.submitted && subTypeField.invalid">
        <option *ngFor="let type of subscriptionTypes | async">
          {{type}}
        </option>
      </select>
      <!--Error Message-->
      <div class="alert alert-danger" [hidden]="!frm.submitted || subTypeField.valid">
        Please select
      </div>
    </div>

    <div class="form-check form-group">
      <input class="form-check-input" type="checkbox" id="receiveNewsletter" name="receiveNewsletter"
      [(ngModel)]="userSettings.receiveNewsletter">
      <label class="form-check-label" for="receiveNewsletter">Receive newsletter</label>
    </div>

    <button class="btn btn-primary">Submit</button>

    <!--Http Error Message-->
    <div class="alert alert-danger alert-dismissible" [hidden]="!postError || (nameField.valid && emailField.valid && subTypeField.valid)">
      {{postErrorMessage}}
    </div>
  </form>
  <br/>
  Is form valid? {{ frm.valid }}
  <br/>
  {{ userSettings | json }}
</div>
